html {
    background-color: #333;
    font-family: helvetica, serif;
}

* {
    padding: 10px;
}
header, footer {
    background: #ddaa00
}
footer a {
    color: #FFFFFF;
}
nav{
    color: #ddaa00;
    background-color: #ccc;
    padding: 5px 2px;
}
main {
    background-color: grey;
}
body {
    font-size: 1em;
    font-family: helvetica, serif;
    margin: 5px;
}
section {
    margin: 5px;
    background-color: white;
}
nav a {
    color: #ddaa00;
    text-decoration: none;
    margin: 0 5px;
    border: solid 1px #cccccc;
    background-color: white;
}
h1 {
    margin: 0;
}
img {
    margin: 0;
}
section a {
    border: solid 1px #cccccc;
    color: #cccccc;
    text-decoration: none;
}
@media screen and (min-width: 701px) {

}