html {
    background-color: white;
    font-family: helvetica, serif;
}

* {
    padding: 10px;
}
header, footer {
    background: #ddaa00
}
footer {
    text-align: center;
}
footer a {
    color: #FFFFFF;
}
nav{
    color: #ddaa00;
    background-color: #ccc;
    padding: 5px 2px;
    display: flex;
    justify-content: space-evenly;
}
main {
    background-color: grey;
}
body {
    font-size: 1em;
    font-family: helvetica, serif;
    padding: 5px;
}
section {
    margin: 5px;
    background-color: white;
}
nav a {
    color: #ddaa00;
    text-decoration: none;
    margin: 0 5px;
    border: solid 1px #cccccc;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1px;
    flex-wrap: wrap;
}
h1 {
    margin: 0;
    text-align: center;
}
img {
    margin: 0;
}
section a {
    border: solid 1px #cccccc;
    color: #cccccc;
    text-decoration: none;
}
main a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 701px) {
    main{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    img{
        width: 100%;
        height: auto;
    }
}