#playField{
    width: 600px;
    height: 800px;
    border:1px black solid;
    // aanvullen met hoogte en breedte
}


#target {
    position: absolute;
}
#knopStart{
    float: left;
    position: absolute;
}