.col-md-3 {
    background-color: darkgrey;
    height: 200px;
    border: 15px white;
}
.col-md-6 {
    background-color: grey;
    height: 200px;

}
.row {
    margin: 15px;
}
div {
    border: 10px white;
}